# File di esempio per le variabili d'ambiente
# Rinomina questo file in .env e inserisci i tuoi valori.

# Credenziali per l'invio di email tramite Gmail SMTP
# GMAIL_EMAIL: L'indirizzo email del tuo account Gmail.
# GMAIL_APP_PASSWORD: La "Password per le app" di 16 caratteri generata dal tuo account Google.
# NON USARE la tua password di accesso a Google.

GMAIL_EMAIL="tuo_indirizzo@gmail.com"
GMAIL_APP_PASSWORD="tua_password_per_le_app_di_16_caratteri"
